section:first-of-type h2
{
    margin-bottom: 0;
}
section:first-of-type p
{
    font-size: 16px;
    margin-top: 0;
}
div,
p
{
    transition: all 0.5s ease-in;
}

.hidden
{
    display: none;
    opacity: 0;
}
.invis
{
    opacity: 0;
}

/* JSON-item classes */
.template
{
    display: none !important;
    opacity: 0;
}
.book-item
{
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-flex;
    border-radius: 0.2em;
    margin: 0 1em 1em;
    transition: background 0.5s ease-in;
}
.book-item:hover
{
    background: #787878;
}
.book-item img
{
    height: 250px;
    width: 165px;
}
.book-item div
{
    font-size: 14px;
    margin: 0 1em;
    max-width: 300px;
}
.book-item div span
{
    display: block;
    font-size: 14px;
    font-weight: bold;
}
.book-item div p
{
    line-height: 1.25rem;
    height: 110px;
}
.book-item div span:nth-child(2n)
{
    font-size: 12px;
    font-weight: normal;
}
.book-item div div img,
.book-item div div i
{
    cursor: pointer;
    font-size: 23px;
    height: 25px;
    margin: 0 5px;
    width: 25px;
}
.shop-icon
{
    position: relative;
    top: 2px;
}

.book-genres
{
    margin-bottom: 2em;
    padding: 0.5em 5em;
}
.book-genres ul
{
    display: inline-block;
    padding: 0;
}
.book-genres ul li
{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.5em;
    cursor: pointer;
    float: left;
    font-size: 12px;
    list-style-type: none;
    margin-right: 1em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    transition: all 0.5s ease-in;
}
.book-genres ul li.selected
{
    background: #585858;
}
.book-genres ul li:hover,
.book-genres ul li.selected:hover
{
    background: #787878;
}
.book-genres ul li:last-child
{
    margin-right: 0;
}